<div class="sidenav" [ngClass]="collapse ? 'sidenav-collapsed': '' " >
    <div class="logo-container">
        <button class="logo" (click)= "toggleCollapse()">S</button>
        <div class="logo-text" *ngIf="!collapse">StockWise</div>
        <button class="btn-close" *ngIf="!collapse" (click)="closeSideNav()">
            <i class="fa fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="data.routeLink">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="!collapse">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>