<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="caption header-text">
          <h6>Trading StockWise</h6>
          <div class="line-dec"></div>
          <h4>Dive <em>Into The Trading</em> World <span>With StockWise</span></h4>
          <p>Unlock Your Financial Potential: Elevate Your Trading Experience with Real-Time Updates, Dynamic Charts, and Effortless Portfolio Management. Your Gateway to Informed and Strategic Investing</p>
          <div class="main-button scroll-to-section"><a href="#services">Discover More</a></div>
          <span>or</span>
          <div class="second-button"><a href="">Check our FAQs</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-us">
  <h1 class="about-us-text">About Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../assets/images/person2.jpeg" alt="Image" class="img-fluid tm-intro-img" />
      </div>
      <div class="col-lg-6">
        <div class="tm-intro-text-container">
            <h2 class="tm-text-primary mb-4 tm-section-title">Thien Nguyen</h2>
            <p class="mb-4 tm-intro-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nam assumenda harum nulla dolores! Voluptatum aspernatur a, porro assumenda magnam voluptates asperiores, culpa distinctio tempora, quos saepe est doloremque suscipit.
          </p>
            <p class="mb-5 tm-intro-text">
              Please tell your friends about our site 
              <a rel="nofollow" href="https://templatemo.com">StockWise</a>. Thank you.
              Curabitur dapibus tristique enim a imperdiet. Etiam
          tristique sem sed condimentum posuere. </p>
            <div class="tm-next">
              <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
            </div>
        </div>
      </div>
      <div class="container seconde-person">
        <div class="row">
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">William Zhang</h2>
                <p class="mb-4 tm-intro-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nam assumenda harum nulla dolores! Voluptatum aspernatur a, porro assumenda magnam voluptates asperiores, culpa distinctio tempora, quos saepe est doloremque suscipit.
              </p>
                <p class="mb-5 tm-intro-text">
                  Please tell your friends about our site 
                  <a rel="nofollow" href="https://templatemo.com">StockWise</a>. Thank you.
                  Curabitur dapibus tristique enim a imperdiet. Etiam
              tristique sem sed condimentum posuere. </p>
                <div class="tm-next">
                  <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
                </div>
            </div>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/images/person1.jpeg" alt="Image" class="img-fluid tm-intro-img" />
      </div>
</div>
