

/* Introduction */

.tm-section-title {
  font-size: 2.6rem;
  font-weight: normal;
  color: #5b03e4;
}

.tm-intro-text {
  font-size: 1.2rem;
  line-height: 1.4;
}

.tm-icon {
  display: block;
  margin-bottom: 55px;
  color: #3496d8;
}
.about-us .container{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding-top: 25px;
  border-radius: 23px;
  width: 2200px;
}
.


