<div class="sandp">
    <h2 class="snadp-text">The Standard and Poor's 500</h2>
</div>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
        <td mat-cell *matCellDef="let row"> {{row.symbol}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="security">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Security </th>
        <td mat-cell *matCellDef="let row"> {{row.security}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
        <td mat-cell *matCellDef="let row"> {{row.sector}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="sub_industry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Industry </th>
        <td mat-cell *matCellDef="let row"> {{row.sub_industry}} </td>
      </ng-container>

      <ng-container matColumnDef="headquarters">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Headquarters </th>
        <td mat-cell *matCellDef="let row"> {{row.headquarters}} </td>
      </ng-container>

      <ng-container matColumnDef="date_added">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data added </th>
        <td mat-cell *matCellDef="let row"> {{row.date_added}} </td>
      </ng-container>
      <ng-container matColumnDef="cik">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CIK </th>
        <td mat-cell *matCellDef="let row"> {{row.cik}} </td>
      </ng-container>
      <ng-container matColumnDef="founded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Founded year</th>
        <td mat-cell *matCellDef="let row"> {{row.founded}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  
  
  <!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->